{namespace nl=NL\NlPageconfig\ViewHelpers}
{namespace be=TYPO3\CMS\Backend\ViewHelpers}
<div class="tx-nl-pageconfig">
    <f:be.container includeRequireJsModules="{0: 'TYPO3/CMS/Backend/AjaxDataHandler'}">
        <div class="module-loading-indicator"></div>
        <div class="module-docheader t3js-module-docheader" style="height: auto;">
            <div class="module-docheader-bar module-docheader-bar-navigation t3js-module-docheader-bar t3js-module-docheader-bar-navigation row" style="height: auto;">
                <div class="module-docheader-bar-column-left col-xs-12 col-sm-3">
                    <nl:be.pagePath />
                </div>
                <div class="module-docheader-bar-column-right col-xs-12 col-sm-9 text-right">
                </div>
            </div>
            <div class="module-docheader-bar module-docheader-bar-buttons t3js-module-docheader-bar t3js-module-docheader-bar-buttons" style="height: auto;">
                <div class="module-docheader-bar-column-left">
                    <div class="btn-toolbar" role="toolbar" aria-label="">
                        <a href="{be:uri.newRecord(table: 'tx_nlpageconfig_domain_model_config', pid: currentPageId)}" class="btn btn-default btn-sm " title="Create new record">
                            <core:icon identifier="actions-document-new" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="module-body t3js-module-body" style="padding-top: 89px;">
            <f:flashMessages />
            <f:render section="main" />
        </div>
    </f:be.container>
</div>